.announcement-nav{
    height: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.announcement-title{
    /* border: 1px solid red; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcement-body{
    height: 65%;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 0.3em;
}
.announcement-body-head{
    border: 1px solid red;
    height: 10em;
}


.ann-btn > * {
    vertical-align:middle;

}


.announcement-textarea{
    min-width: 100%;
    min-height: clamp(5em,50vh, 500px);

    height: clamp(5em,50vh, 500px);
}
.dynamic-textarea {
    min-width: 100%; /* Set your desired initial width */
    min-height: 5em; /* Set your desired initial height */
    resize: vertical; /* Allow vertical resizing */
    border: 2px black #ccc;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1em 0 0 1em;
    box-sizing: border-box; /* Include padding in the element's size */

  }
 
.annav{
    width: 50%;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFE3EE;
    cursor: pointer;
    font-weight: bold;

}
.annav:hover{
    background-color: #8B9DC3;
}
.ann-btn {
    /* border: 1px solid red; */
    height: 10%;
    padding-right: 1em;
    display: flex;
    justify-content: end;
    align-items: center;

}
.ann-btn >button {
    cursor: pointer;
    height: 2.5em;
    width: 4em;
    background-color: rgb(119, 117, 117);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 1em;
}