
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@200&family=Outfit:wght@100;400;700&family=Poppins:ital,wght@0,400;0,500;1,600;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

table{
  border: 1px solid red;
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow: auto;
  min-width: 100%;
}
th {
  width: 100%;
  background: #8B9DC3;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
th,td{
  padding: 1.6rem;
}
tr:nth-of-type(2n){
  background-color: #DFE3EE;
}