
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@200&family=Outfit:wght@100;400;700&family=Poppins:ital,wght@0,400;0,500;1,600;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* th, td {
  border: 1px solid;
} */
