
.items-medicine-dialog{
    border-bottom: 2px dashed grey;
    height: 69%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    overflow-y: auto;
    align-items: center;
    justify-items: center;
}
.selected-medicine-dialog {
    max-height: 30%;
    /* border: 1px solid red; */
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.medicine-dialog-content{
    
}

