.announcement{
    height: clamp(500px, 90vh, 100vh);
    min-width: 174px;
}
.announcement-title{
    text-align: center;
    font-size: clamp(20px, 5vw, 40px);
    height: 10%;
}
.announcement-body {
    display: grid;
    grid-template-columns: 100%;
    height: 80%;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    /* max-height: 80vh; */
}
.announcement-btn{
    text-align: center;
    height: 5%;
}


/* css style for announcement box */

.announcementBox{
    width: clamp(100px, 70%, 600px);
    height: clamp(100px, 30vh, 400px);
    background-color: #DFE3EE;
    border-radius: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}
.announcementBox::before {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    border-radius: 1em;
    border: 2px solid transparent; /* Start with a transparent border */
    transition: border-color 0.3s ease; /* Add transition for border color */
    pointer-events: none; /* Allow interaction with the box underneath */
  }
  .announcementBox:hover::before {
    border-radius: 1em;
    border-color: #3B5998; /* Change the border color on hover */
  }
  .announcementBox:hover {
    box-shadow: 0 0 0 5px #3B5998; /* Add a box shadow to create the frame on hover */
  }
.announcement-image{
    height:60%;
}
.announcement-text{
    overflow: hidden;
    height:25%;
}
.announcement-footer{
    height: 15%;
     display: flex;
     justify-content: space-between;
}
.announcement-footer > .date{
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcement-footer > .btn{
    width: 30% !important;
    cursor: pointer;
}
/* Announcement Dialog */

.announcement-dialog{
    height: 100%;
    border: 1px solid red;
}
.announcement-image-popup{
    height: 70%;
    width: 100%;
}
.announcement-description-popup{
    height: 30%;
    width: 100%;
    overflow-y: auto;
}
@media screen and (min-width: 768px) {

    .announcement-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust the minimum width (100px) as needed */
        gap: 10px; /* Adjust the gap between items as needed */
    }
    .announcementBox{
        width: clamp(300px, 70%, 400px);
        height: clamp(200px, 40vh, 300px);
    }
}