.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFE3EE;
}
.login-box{
    height: 50%;
    width: 35%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.e-barangay{
    color: #3B5998;
    font-size: 2rem;
}

#forgot-password{
    color: blue;
    cursor: pointer;
}