a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;

}
.nav-container{
    height: 100%;
}
.sidebar-logo{
    width: 20%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-btn-name{
    width: 80%;
    height: 100%;
}