.nav-container{
    border: 1px solid red;
    height: 100vh;
    min-width: 37.5px;
}
.sb-ul-list{
    border: 1px solid rgb(255, 255, 255);
    min-height: 90%;
}
.sb-list{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}
.sidebar-btn-name{
    display: none;
}


@media screen and (min-width: 1200px) {
    /* Styles for medium desktop screens */
    .sidebar-btn-name{
        display: flex;
    }
    .sb-list{
        justify-content: space-between;
        align-items: center;
        height: 4.5em;
    }
  }