header{
    display: flex;
    /* border: 1px solid red; */
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-width: 280px;

}
main{
    /* border: 1px solid black; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 227, 238);
    min-width: 280px;

}
footer{
    /* border: 1px solid blue; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    min-width: 280px;


}
.header-container{
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    max-width: 900px;
    width: 100%;
    min-width: 280px;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}
.main-container{
    display: flex;
    border: 1px solid red;
    height: 100%;
    max-width: 900px;
    width: 100%;
    min-width: 280px;

}
.footer-container{
    display: flex;
    /* border: 1px solid red; */
    height: 100%;
    max-width: 900px;
    width: 100%;
    min-width: 280px;

}
